<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Cabeleireiro</title>

  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/plugins/flatpickr/flatpickr.min.css">

  <script src="/plugins/flatpickr/flatpickr.js"></script>

</head>
